
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
         
  <test name="flipkart">

        <groups>
         <run>
            <include name = "checkintest" />
         </run>
      </groups>

	 <classes>
	   <class name="test.java.arithmeticOperation.Addition"/>
	   <class name="test.java.arithmeticOperation.Division"/>
	   <class name="test.java.arithmeticOperation.Multiplication"/>
	   <class name="test.java.arithmeticOperation.Subtraction"/>
	 </classes>
   </test>
</suite>