
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
          <test name="Parameter Test three">
        <!-- Overriding suite level parameter -->
        <parameter name="suite-param" value="https://www.google.com/" />
        <!-- Test specific parameter -->
        <parameter name="test-three-param" value="Fresco Play" />
        <classes>
            <class name="test.java.arithmeticOperation.Addition">
            </class>
        </classes>
    </test>
</suite>